#up_container{
     position: absolute;
     left: 0;
     right: 0;
     top:10%
    }
.gumtree_main_container{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
#gumtree_container{
    display: flex;
    padding-left: 70px;
}
.gumtree_container_h4{
    padding-left: 10px;
    margin-top: -5px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: ProximaNova-Bold,Arial,Helvetica,sans-serif;
}
.gumtree_container_h4_two{
    padding-left: 12px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 48px;
    font-family: FilsonProBold,ProximaNova-Bold,Arial,Helvetica,sans-serif;
}
.gumtree_btn{
    border: none;
    background-color: #3baa33;
    padding: 14px 35px;
    font-size: 14.5px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    float: right;
}
#gumtree_btn_cont{
    padding-right: 71px;
    margin-top: -12px;
}
#container_main_select{
    background-color: #00000080;
    width: 90%;
    height: 125px;
    padding: 30px 5px;
    z-index: 1;
}

.select_ul{
    background-color: #fff;
    margin-left: 35px;
    width: 130%;
    padding: 16px 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
    /* height: 300px;
    overflow: auto;
    scroll-behavior: smooth; */
}
#select_ul_icon{
    padding: 10px 0;
    font-size: 18px;
    color: #46db3c;
}
#select_ul_icon1{
    padding: 10px 0px;
    font-size: 25px;
    color: #46db3c;
}
.select_ul_li1{
    background-color: #fff;
    width: 100%;
    list-style: none;
    padding: 5px 50px;
}

#ul_down_arrow{
    float: right;
    font-size: 20px;
    cursor: pointer;
}
#ul_icon{
    color: #46db3c;
    font-size: 20px;
    padding: 0px 10px;
}
.container_select{
    padding: 19.5px;
    width: 100%;
    margin-left: 35px;
    outline: none;
    background-color: #fff;
    border: 1px solid rgb(226, 222, 222);
}
#dropdown{
    float: right;
}
.container_select1 i{
    color: #46db3c;
    font-size: 20px;
    padding: 0px 10px;
}
.container_select2{
    padding: 15px;
    width: 100%;
    margin-left: 35px;
    font-size: 22px;
    outline: none;
    border: 1px solid rgb(230, 230, 230);
}
.container_select3{
    padding: 21px 2px;
    width: 77%;
    margin-left: 35px;
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(230, 230, 230);
}
.select_section_btn{
    padding: 20.5px 20px;
    border: none;
    background-color: #3baa33;
    color: #fff;
   
}
.select_section_btn i{
    font-size: 20px;
    color: #fff;
    z-index: 1;
}
.hero{
    width: 100%;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selector{
    width: 100%
}
#selectField{
    width: 100%;
    padding: 7.7px 20px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#list{
    width: 150%;
    background:#fff;
    border-radius: 2px;
    padding: 0px 20px;
    overflow: hidden;
}
.options{
    width: 100%;
    display: flex;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
}
#search_icon{
   color: #46db3c;
   font-size: 20px;
   padding-right: 20px;
}
#selectText{
    padding: 8px 10px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}
#selectText1{
    padding-top: 10px;
    outline: none;
    border: none;
    width: 100%;
}








